@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  font-family: 'Poppins, sans-serif';
}
html {
  scroll-behavior: smooth;
}

:root {   
  /* Typography */
  --textXJumbo : 32px;
  --textJumbo : 24px;
  --textXLG : 20px;
  --textLG : 18px;
  --textXMD : 16px;
  --textMD : 14px;
  --textSM : 12.5px;
  --textXSM : 10px;

  /* Rounded */
  --roundedCircle : 100%;
  --roundedJumbo : 30px;
  --roundedXLG : 24px;
  --roundedLG : 18px;
  --roundedMD : 14px;
  --roundedSM : 12px;
  --roundedMini : 6px;

  /* Spacing */
  --spaceJumbo : 35px;
  --spaceXLG : 24px;
  --spaceLG : 20px;
  --spaceXMD : 16px;
  --spaceMD : 12px;
  --spaceSM : 10px;
  --spaceXSM : 8px;
  --spaceXXSM : 6px;
  --spaceMini : 4px;

  /* Color Pallete */
  --successBG : #00c2a8;
  --dangerBG : #db5c70;
  --warningBG : #FFC352;
  --infoBG : #245dac;
  --infoLightBG : #E7F4FE;
  --hoverBG : #F2F2F2;
  --primaryColor : #FF8432;
  --darkColor : #2f4858;
  --whiteColor : #fff;
  --secondaryColor : #f5e5e2;
  --greyColor : #f6f6f6;
  --shadowColor : #6c6c6c;
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

/* Image */
.bg-cover {
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
.bg-primary {
  background: var(--darkColor);
}
.bg-warning {
  background: var(--warningBG);
}
.bg-success {
  background: var(--successBG);
}
.bg-danger {
  background: var(--dangerBG);
}
.bg-cover, .bg-primary, .bg-success, .bg-danger {
  color: var(--whiteColor) !important;
}

/* Typography */
h1 {
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 7px;
}
h2 {
  font-size: 38px;
  letter-spacing: 5px;
}
h3 {
  font-size: 26px;
  letter-spacing: 3.5px;
}
h4 {
  font-size: 20px;
  letter-spacing: 1.5px;
}
h1, h2 {
  text-transform: uppercase;
  line-height: 100%;
}
h2, h3, h4 {
  font-weight: 600;
}
p {
  font-size: var(--textMD);
}
.text-secondary {
  color: var(--shadowColor);
}
.text-dark {
  color: var(--darkColor);
}

/* Context Box */
.dashbox, .familymemberbox {
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.dashbox, .familymemberbox, .familyattentionbox {
  padding: var(--spaceLG);
  background: var(--greyColor);
}
 
.moneybox, .taskbox {
  position: relative;
  margin-bottom: var(--spaceSM);
  color: var(--darkColor); 
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: var(--spaceMD);
  background: var(--whiteColor);
}

.familymemberbox {
  text-align: center;
}

.familymemberbox, .familyattentionbox {
  cursor: pointer;
}

.dashbox, .moneybox, .taskbox, .familymemberbox, .familyattentionbox {
  width: 100%;
  border-radius: var(--roundedLG); 
  display: flex;
}

.moneybox:hover, .taskbox:hover, .familyattentionbox:hover {
  background: var(--greyColor);
}

.familymemberbox:hover, .familyattentionbox:hover {
  transform: scale(1.05);
}

.mealbox {
  padding: var(--spaceMD);
  margin-bottom: var(--spaceMini);
  border-radius: var(--roundedLG);
}
.mealbox.readonly {
  padding: 0;
}
.mealbox:not(.readonly) {
  display: flex;
  justify-content: space-between;
}
.mealbox:not(.readonly):hover {
  background: var(--greyColor);
}

.chip {
  padding: var(--spaceSM) var(--spaceMD);
  border-radius: var(--roundedLG);
  font-weight: 500;
  color: var(--whiteColor);
}

.familyattentionbox {
  display: flex;         
  flex-direction: row;    
  align-items: center;   
  justify-content: flex-start;
  position: relative;
  margin-bottom: var(--spaceLG);
}
.familyattentionbox .tag-holder {
  position: absolute;
  top: calc(-1 * var(--spaceLG));
  right: var(--spaceMD);
}
.familyattentionbox .tag-holder .chip {
  font-size: var(--textSM);
  font-weight: 600;
  display: inline-block;
  margin-right: var(--spaceXXSM);
}

@media (min-width: 768px) {
  .moneybox, .taskbox {
    padding: 0.875rem;
  }
}

ul {
  list-style: none;
  padding-left: 1.2em;
}
ul li::before {
  content: "•";
  color: var(--darkColor);
  display: inline-block;
  width: 0.75em;
  margin-left: -1em;
}

/* Button */
button {
  color: var(--whiteColor);
  font-weight: 500;
  font-size: var(--textMD) !important;
}
.btn-primary {
  background: var(--darkColor);
}
.btn-warning {
  background: var(--warningBG);
}
.btn-success {
  background: var(--successBG);
}
.btn-danger {
  background: var(--dangerBG);
}
nav {
  position: sticky;
  top: 0;
  padding: var(--spaceLG);
  width: 100%;
  border-radius: 0 0 var(--roundedLG) var(--roundedLG);
  background: var(--whiteColor);
  z-index: 999;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.nav-link {
  color: var(--darkColor);
  border: 1.75px solid transparent;
}
.nav-link:hover {
  border: 1.5px solid var(--darkColor);
}
button, .nav-link {
  border-radius: var(--roundedMD);
  cursor: pointer;
  padding: var(--spaceMD) var(--spaceLG) !important;
}
.btn-link {
  color: var(--darkColor); 
  font-weight: 600;
  font-size: var(--textXMD) !important;
}
.btn-image:hover {
  transform: scale(1.025);
}

/* Carousel */
.carousel {
  position: relative;
}
.carousel-container {
  position: absolute; 
  width: 0;
  right: calc(var(--spaceXLG)*2.5);
  bottom: var(--spaceXLG);
}
button[data-slot="carousel-previous"], button[data-slot="carousel-next"] {
  background: var(--successBG);
}

/* Apexchart */
.apexcharts-xaxis-label {
  font-size: var(--textSM) !important;
}
.apexcharts-yaxis-label {
  font-size: var(--textSM) !important;
}
.apexcharts-yaxis-label, .apexcharts-xaxis-label {
  fill: var(--whiteColor) !important;
}
.apexcharts-tooltip {
  font-size: var(--textXLG) !important;
}
.apexcharts-tooltip-title {
  border-bottom: none !important;
  padding-bottom: 0 !important;
  margin: var(--spaceXXSM) var(--spaceXXSM) 0 var(--spaceXXSM) !important;
} 
.apexcharts-tooltip-series-group {
  background: transparent !important;
  padding: var(--spaceMini) var(--spaceSM) !important;
}
.apexcharts-tooltip, .apexcharts-tooltip-title, .apexcharts-tooltip-series-group, .apexcharts-legend-text, .d3 .node, .apexcharts-xaxistooltip .apexcharts-xaxistooltip-text {
  color: var(--whiteColor) !important;   
}
.apexcharts-datalabels-group text{
  fill: var(--whiteColor) !important; 
}
.apexcharts-tooltip-title, .apexcharts-tooltip, .apexcharts-xaxistooltip, .apexcharts-xaxistooltip.apexcharts-theme-light, .apexcharts-xaxistooltip.apexcharts-theme-dark {
  background: var(--darkColor) !important;  
  border-radius: var(--roundedSM) !important;
}
.apexcharts-tooltip-marker {
  border-radius: 50% !important;
}
.apexcharts-xaxistooltip, .apexcharts-xaxistooltip.apexcharts-theme-light, .apexcharts-xaxistooltip.apexcharts-theme-dark {
  box-shadow: none !important;
}
.apexcharts-tooltip,.apexcharts-xaxistooltip, .apexcharts-xaxistooltip.apexcharts-theme-light, .apexcharts-xaxistooltip.apexcharts-theme-dark {
  border: calc(var(--spaceMini) / 2.5) solid var(--whiteColor);
}
.apexcharts-xaxistooltip .apexcharts-xaxistooltip-text, .apexcharts-tooltip-title {
  font-weight: 600 !important;
}
.apexcharts-legend-text {
  text-transform: capitalize !important;
  color: var(--whiteColor) !important;
}
.apexcharts-legend-text, .apexcharts-tooltip {
  font-weight: 500 !important;
}

/* Navbar */
.menu-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  padding: var(--spaceXMD) !important;
  border-radius: 50%;
  background: var(--darkColor);
  color: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  z-index: 1000;
  border: 1.75px solid var(--whiteColor);
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none !important;
  }
}
.menu-toggle.open {
  background: var(--dangerBG);
  transform: rotate(90deg);
}
.mobile-menu {
  position: fixed;
  top: 4.5rem; 
  right: 1rem;
  left: 1rem;
  background-color: white;
  border-radius: 1rem;
  z-index: 999;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideDown {
  animation: slideDown 0.25s ease-out;
}
@media (min-width: 768px) {
  .mobile-menu {
    display: none !important;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.menu-toggle, .mobile-menu, .familymemberbox, .familyattentionbox, .mealbox, .btn-image {
  transition: all 0.3s ease-in-out;
}
.chip, .btn-image:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* Apexchart & D3 */
.apexcharts-legend-text, .d3 .node {
  font-size: var(--textMD) !important;
  font-weight: 500;
}
.apexcharts-xaxis-label {
  font-size: var(--textMD) !important;
}
.apexcharts-yaxis-label {
  font-size: var(--textSM) !important;
}
.apexcharts-yaxis-label, .apexcharts-xaxis-label {
  fill: var(--darkColor) !important;
}
.apexcharts-tooltip {
  font-size: var(--textMD) !important;
}
.apexcharts-tooltip-title {
  border-bottom: none !important;
  padding-bottom: 0 !important;
  margin: var(--spaceXXSM) var(--spaceXXSM) 0 var(--spaceXXSM) !important;
} 
.apexcharts-tooltip-series-group {
  padding: var(--spaceMini) var(--spaceSM) !important;
}
.apexcharts-tooltip, .apexcharts-tooltip-title, .apexcharts-tooltip-series-group, .apexcharts-legend-text, .d3 .node, .apexcharts-xaxistooltip .apexcharts-xaxistooltip-text {
  color: var(--darkColor) !important;   
}
.apexcharts-datalabels-group text{
  fill: var(--darkColor) !important; 
}
.apexcharts-tooltip-title, .apexcharts-tooltip, .apexcharts-xaxistooltip, .apexcharts-xaxistooltip.apexcharts-theme-light, .apexcharts-xaxistooltip.apexcharts-theme-dark {
  background: var(--whiteColor) !important;  
  border-radius: var(--roundedSM) !important;
}
.apexcharts-tooltip-marker {
  border-radius: 50% !important;
}
.apexcharts-xaxistooltip, .apexcharts-xaxistooltip.apexcharts-theme-light, .apexcharts-xaxistooltip.apexcharts-theme-dark {
  box-shadow: none !important;
}
.apexcharts-tooltip,.apexcharts-xaxistooltip, .apexcharts-xaxistooltip.apexcharts-theme-light, .apexcharts-xaxistooltip.apexcharts-theme-dark {
  border: calc(var(--spaceMini) / 2.5) solid var(--darkColor);
}
.apexcharts-xaxistooltip .apexcharts-xaxistooltip-text, .apexcharts-tooltip-title {
  font-weight: 600 !important;
}
.apexcharts-legend-text {
  text-transform: capitalize !important;
  color: var(--darkColor) !important;
}
.apexcharts-legend-text, .apexcharts-tooltip {
  font-weight: 500 !important;
}

.react-loading-skeleton {
  border-radius: var(--roundedLG) !important;
}